<div class="card container-fluid text-center">
  <div class="card-header bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/home"><img data-toggle="tooltip" data-placement="bottom" title="Veera Kalla"
          class="nav-icon" src="/assets/images/nav-icon2.PNG"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cover Letter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Me</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="card-body">
    <div class="about">
      <table>
        <tr align="center">
          <td>
            <div class="outer circle ">
              <img class="profilePhoto circle" src="/assets/images/Photo.jpg">
            </div>
          </td>
        </tr>
        <tr>
          <td class="intro">Hi! I am Veera Kalla.</td>
        </tr>
      </table>
      <span class="profession"> -- Java Full Stack Developer</span>
    </div>
    <div>
      <p class="aboutme">About me:</p>
      <div class="aboutMeContent">
        <p>
          I was born and bought up in <strong> Andhra Pradesh, India.</strong> I am graduated from <strong>Kakinada
            Institute Of Engineering and Technology, Korangi</strong>
          affliated to <strong>JNTUK</strong> in 2014 under <strong> Computer Science </strong> stream. Achieved my
          dream of becoming
          a Software Engineer and now I am working as a Java Full Stack developer and aspiring to
          explore Artificial Intelligence, Machine Learning areas to bring a change in everybody's routine.
        </p>
        <p>
          I am an enthusiastic person who always look forward for a challenging position where I can effectively
          contribute my logical/technical skills
          and there should be an ample scope to improve myself keeping par with latest technologies emerging in the
          market.
        </p>
        <p>
          There is an artistic side which i would love to explore in my buffer time. Like,<strong>
            Dancing, Drawing,
            Cooking and Writing stories.</strong>And,I have great admiration towards movies and actors who made my
          childhood
          colorful and inspired me to be who i am now.
        </p>
      </div>
    </div>
    <p class="aboutme">Skill Set:</p>
    <div>
      <div class="container skills">
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4">
          <div>
            <div>
              <img src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo.png" />
            </div>
            <div>
              <strong>Java 8</strong>
            </div>
          </div>
          <div>
            <div>
              <img src="https://img.icons8.com/color/48/000000/angularjs.png" />
            </div>
            <div>
              <strong>Angular 6</strong>
            </div>
          </div>
          <div>
            <div>
              <img src="https://img.icons8.com/color/48/000000/spring-logo.png" />
            </div>
            <div>
              <strong>Spring Boot</strong>
            </div>
          </div>
          <div>
            <div>
              <img src="https://img.icons8.com/color/48/000000/docker.png" />
            </div>
            <div>
              <strong>Docker</strong>
            </div>
          </div>

          <div>
            <div>
              <img src="https://img.icons8.com/color/48/000000/gitlab.png" />
            </div>
            <div>
              <strong>GitLab</strong>
            </div>
          </div>
          <div>
            <div>
              <img src="https://img.icons8.com/color/48/000000/html-5.png" />
            </div>
            <div>
              <strong>HTML 5</strong>
            </div>
          </div>
          <div>
            <div>
              <img src="https://img.icons8.com/dusk/48/000000/css3.png" />
            </div>
            <div>
              <strong>CSS 3</strong>
            </div>
          </div>
          <div>
            <div>
              <img src="https://img.icons8.com/color/48/000000/javascript.png" />
            </div>
            <div>
              <strong>JavaScript</strong>
            </div>
          </div>
          <div>
            <div>
              <img src="https://img.icons8.com/color/48/000000/oracle-logo.png" />
            </div>
            <div>
              <strong>Oracle 10g</strong>
            </div>
          </div>
          <div>
            <div>
              <img src="https://img.icons8.com/color/48/000000/intellij-idea.png" />
            </div>
            <div>
              <strong>Intellij IDEA</strong>
            </div>
          </div>
          <div>
            <div>
              <img src="https://img.icons8.com/color/48/000000/visual-studio-code-2019.png" />
            </div>
            <div>
              <strong>VS-Code</strong>
            </div>
          </div>
          <div>
            <div>
              <img src="https://img.icons8.com/color/48/000000/hadoop-distributed-file-system.png" />
            </div>
            <div>
              <strong>Hadoop</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />

    <p class="aboutme">Mottos of My Life:</p>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card motto bg1">“Keep pushing the boundaries even though you are succeded.”</div>
        </div>
        <div class="carousel-item">
          <div class="card motto bg2">“If you born in poor that is not your fault but if you die in poor that is your
            fault.”</div>
        </div>
        <div class="carousel-item">
          <div class="card motto bg3">“Different people cannot do different things, do the things in different way.”
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <br /><br />
  <div class="card-footer bg-dark follow">
    <p class="footer"><span>© Copyright 2020. All Rights Reserved.</span><br /><br />
      <span>
        <a href="www.facebook.com"><i class="fa fa-facebook-f"></i> </a>
        <a href="https://plus.google.com"><i class="fa fa-linkedin"></i></a>
        <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
      </span>
    </p>

  </div>
</div>
